body {
  text-align: center;
}

.color {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  border-radius: 50%;
}

#color-palette {
  display: flex;
  width: 100%;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#purple {
    background-color: purple;
}

#black {
    background-color: black;
}

.pixel {
  display: table-cell;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  padding: 0%;
  margin: 0%;
  background-color: white;
}

#pixel-board {
  display: table;
  align-content: center;
}

#cores {
  display: inline-block;
  align-content: center;
}