body {
  text-align: center;
  background-image: url('/images/6661603.jpg');
  background-size: cover;
  padding-top: 10vh;
}

.color {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  border-radius: 50%;
}

#color-palette {
  width: 100%;
}

#table-palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
}

#table-pixel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

tr {
  display: flex;
  justify-content: center;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#black {
  background-color: black;
}

.pixel {
  display: table-cell;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin: 1px;
  background-color: white;
}

#pixel-board {
  display: table;
  align-content: center;
}

#cores {
  display: inline-block;
  align-content: center;
}

#clear-board {
  margin-bottom: 2%;
}

#pricipal-div {
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 20px;
  background-color: aliceblue;
  padding: 5%;
  padding-top: 30px;
}